openapi: 3.0.0
info:
  version: 0.0.1
  title: Amphitrite API
  description: "# API M1 của Gobiz\n Đây là API docs của khách hàng gồm các chức năng: Tạo đơn ký gửi, cập nhật mã vận đơn, sản phẩm và mã đơn hàng khách hàng đơn ký gửi \n\n Để tạo đơn ký gửi ta cần các bước: Tạo địa chỉ của khách hàng -> Tạo đơn nháp -> Tạo đơn ký gửi"
servers:
  - description: Ong Vàng - Staging
    url: 'https://ongvang.order.gobizdev.com'
paths:
  /api/customer/draft_shipments:
    get:
      summary: Lấy ra thông tin đơn nháp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft-Shipment'
              examples:
                example-1:
                  value:
                    createdAt: '2019-12-31T02:21:12.115Z'
                    createdBy: lanhuong
                    modifiedAt: '2019-12-31T02:21:37.993Z'
                    modifiedBy: lanhuong
                    id: 8e3a07d6-4301-4736-a17f-0c9b58cfd481
                    exchangeRate: 3000
                    totalFee: 11000
                    configGroupId: b586dfd3-5443-4f0b-85b0-c20db89145da
                    addressId: 1003
                    services:
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 2
                        code: cargo_insurance
                        name: Phí bảo hiểm hàng hóa
                        description: null
                        position: 1
                        requires: []
                        excludes: []
                        serviceGroup: null
                        defaultApplied: false
                        needApprove: false
                        shipping: false
                        approved: null
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 12
                        code: standard_packaging
                        name: Đóng gỗ chung
                        description: null
                        position: 6
                        requires: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2019-09-27T09:21:10.503146Z'
                          createdBy: chaos
                          modifiedAt: null
                          modifiedBy: null
                          id: 1
                          code: packaging_group
                          name: Dịch vụ đóng hàng
                          description: null
                          position: null
                          single: true
                          required: false
                        defaultApplied: false
                        needApprove: false
                        shipping: false
                        approved: null
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 8
                        code: direct_delivery
                        name: Vận chuyển thẳng
                        description: null
                        position: 2
                        requires: []
                        excludes:
                          - eco_shipping
                        serviceGroup: null
                        defaultApplied: false
                        needApprove: true
                        shipping: false
                        approved: null
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 3
                        code: express_shipping
                        name: Vận chuyển nhanh
                        description: null
                        position: 3
                        requires: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2019-09-27T09:21:10.503146Z'
                          createdBy: chaos
                          modifiedAt: null
                          modifiedBy: null
                          id: 2
                          code: shipping_group
                          name: Dịch vụ chuyển phát
                          description: null
                          position: null
                          single: true
                          required: true
                        defaultApplied: false
                        needApprove: false
                        shipping: true
                        approved: null
                    fees:
                      - id: 8818d42b-6457-4c88-a8b8-fd53f0685661
                        feeType: management
                        service: null
                        provisionalAmount: 6000
                      - id: 66916040-4d82-4070-adcd-204d09b336bd
                        feeType: cargo_insurance
                        service: cargo_insurance
                        provisionalAmount: 5000
                      - id: ef68cf29-f4f7-4af1-9660-207e379e58c8
                        feeType: express_shipping
                        service: express_shipping
                        provisionalAmount: null
                      - id: eda2da30-e6f6-47f7-919d-056c9a771595
                        feeType: standard_packaging
                        service: standard_packaging
                        provisionalAmount: null
      operationId: get-api-customer-draft_shipments
      tags:
        - Draft-Shipment
      parameters: []
      description: ''
      security:
        - bearerAuth: []
    post:
      summary: Tạo đơn nháp
      operationId: post-api-customer-draft_shipments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft-Shipment'
              examples:
                example-1:
                  value:
                    createdAt: '2019-12-31T02:21:12.115Z'
                    createdBy: lanhuong
                    modifiedAt: '2019-12-31T02:21:37.993Z'
                    modifiedBy: lanhuong
                    id: 8e3a07d6-4301-4736-a17f-0c9b58cfd481
                    exchangeRate: 3000
                    totalFee: 11000
                    configGroupId: b586dfd3-5443-4f0b-85b0-c20db89145da
                    addressId: 1003
                    services:
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 2
                        code: cargo_insurance
                        name: Phí bảo hiểm hàng hóa
                        description: null
                        position: 1
                        requires: []
                        excludes: []
                        serviceGroup: null
                        defaultApplied: false
                        needApprove: false
                        shipping: false
                        approved: null
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 12
                        code: standard_packaging
                        name: Đóng gỗ chung
                        description: null
                        position: 6
                        requires: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2019-09-27T09:21:10.503146Z'
                          createdBy: chaos
                          modifiedAt: null
                          modifiedBy: null
                          id: 1
                          code: packaging_group
                          name: Dịch vụ đóng hàng
                          description: null
                          position: null
                          single: true
                          required: false
                        defaultApplied: false
                        needApprove: false
                        shipping: false
                        approved: null
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 8
                        code: direct_delivery
                        name: Vận chuyển thẳng
                        description: null
                        position: 2
                        requires: []
                        excludes:
                          - eco_shipping
                        serviceGroup: null
                        defaultApplied: false
                        needApprove: true
                        shipping: false
                        approved: null
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 3
                        code: express_shipping
                        name: Vận chuyển nhanh
                        description: null
                        position: 3
                        requires: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2019-09-27T09:21:10.503146Z'
                          createdBy: chaos
                          modifiedAt: null
                          modifiedBy: null
                          id: 2
                          code: shipping_group
                          name: Dịch vụ chuyển phát
                          description: null
                          position: null
                          single: true
                          required: true
                        defaultApplied: false
                        needApprove: false
                        shipping: true
                        approved: null
                    fees:
                      - id: 8818d42b-6457-4c88-a8b8-fd53f0685661
                        feeType: management
                        service: null
                        provisionalAmount: 6000
                      - id: 66916040-4d82-4070-adcd-204d09b336bd
                        feeType: cargo_insurance
                        service: cargo_insurance
                        provisionalAmount: 5000
                      - id: ef68cf29-f4f7-4af1-9660-207e379e58c8
                        feeType: express_shipping
                        service: express_shipping
                        provisionalAmount: null
                      - id: eda2da30-e6f6-47f7-919d-056c9a771595
                        feeType: standard_packaging
                        service: standard_packaging
                        provisionalAmount: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                example-1:
                  value:
                    title: address_not_found
                    status: 400
                    detail: Address not found
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                user_is_banned:
                  value:
                    title: user_is_banned
                    status: 403
                    detail: Account is banned. You can not create new shipment!
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                services:
                  type: array
                  description: Mảng các service code trong API /categories/shipment_services
                  items:
                    type: string
                addressId:
                  type: integer
                  description: 'id địa chỉ của khách hàng, thông tin trong API /customer/address'
              required:
                - services
                - addressId
            examples:
              example-1:
                value:
                  services:
                    - inspection
                    - express_shipping
                  addressId: 306
        description: ''
      tags:
        - Draft-Shipment
      description: Tạo đơn nháp
      security:
        - bearerAuth: []
  /api/customer/shipments:
    post:
      summary: Tạo đơn ký gửi
      operationId: post-api-customer-shipments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer-Shipment'
              examples:
                example-1:
                  value:
                    createdAt: '2020-01-03T03:53:24.444Z'
                    createdBy: lanhuong
                    modifiedAt: '2020-01-03T03:53:24.471Z'
                    modifiedBy: lanhuong
                    customer:
                      avatar: //www.gravatar.com/avatar/13282dcf0f343a6b5cdfd6e605716073?d=retro&s=256&r=g
                      code: NU1000005
                      contactAddress: ''
                      customerGroup: null
                      customerLevel: null
                      customerStatus: ACTIVE
                      dob: '2019-12-12T00:00:00Z'
                      email: nguyenthilanhuong@gobiz.vn
                      fullname: Lan Hương
                      gender: female
                      id: 23
                      nickname: Lan Hương
                      phone: 12345678
                      rewardPoint: null
                      username: lanhuong
                    services:
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 1
                        code: cargo_insurance
                        name: Phí bảo hiểm hàng hóa
                        description: null
                        position: 1
                        requires: []
                        excludes: []
                        serviceGroup: null
                        defaultApplied: false
                        needApprove: false
                        shipping: false
                        approved: true
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 4
                        code: express_shipping
                        name: Vận chuyển nhanh
                        description: null
                        position: 3
                        requires: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2019-09-27T09:21:10.503146Z'
                          createdBy: chaos
                          modifiedAt: null
                          modifiedBy: null
                          id: 2
                          code: shipping_group
                          name: Dịch vụ chuyển phát
                          description: null
                          position: null
                          single: true
                          required: true
                        defaultApplied: false
                        needApprove: false
                        shipping: true
                        approved: true
                      - createdAt: '2019-05-16T11:20:30.688199Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: 11
                        code: standard_packaging
                        name: Đóng gỗ chung
                        description: null
                        position: 6
                        requires: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2019-09-27T09:21:10.503146Z'
                          createdBy: chaos
                          modifiedAt: null
                          modifiedBy: null
                          id: 1
                          code: packaging_group
                          name: Dịch vụ đóng hàng
                          description: null
                          position: null
                          single: true
                          required: false
                        defaultApplied: false
                        needApprove: false
                        shipping: false
                        approved: true
                    image: null
                    status: ACCEPTED
                    code: BG0HZRV_KG
                    remark: null
                    note: null
                    provisionalAmount: 10000
                    totalFee: 10000
                    totalUnpaid: 10000
                    timestamp: '2020-01-03T03:53:24.418Z'
                    totalValue: null
                    address:
                      createdAt: '2020-01-03T03:53:24.450Z'
                      createdBy: lanhuong
                      modifiedAt: '2020-01-03T03:53:24.450Z'
                      modifiedBy: lanhuong
                      id: 26
                      fullname: Lan Hương
                      phone: 988888888
                      address: 164 Khuất Duy Tiến
                      location:
                        createdAt: '2019-09-27T09:21:10.503146Z'
                        createdBy: chaos
                        modifiedAt: null
                        modifiedBy: null
                        id: '11304'
                        code: '00343'
                        name: Phường Nhân Chính
                        description: null
                        display: 'Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội'
                        position: 5
                        type: WARD
                        parent:
                          createdAt: '2019-09-27T09:21:10.503146Z'
                          createdBy: chaos
                          modifiedAt: null
                          modifiedBy: null
                          id: '132'
                          code: 9
                          name: Quận Thanh Xuân
                          description: null
                          display: 'Quận Thanh Xuân, Thành phố Hà Nội'
                          position: 2
                          type: DISTRICT
                          parent:
                            createdAt: '2019-09-27T09:21:10.503146Z'
                            createdBy: chaos
                            modifiedAt: null
                            modifiedBy: null
                            id: '35'
                            code: '01'
                            name: Thành phố Hà Nội
                            description: null
                            display: Thành phố Hà Nội
                            position: 0
                            type: PROVINCE
                            parent: null
                            language: null
                          language: null
                        language: null
                      note: ''
                      hash: 394a9ed64afc273946ba341962433873
                    exchangeRate: 3000
                    actualWeight: null
                    volumetric: null
                    declareValue: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
              examples:
                draft_shipment_not_null:
                  value:
                    title: draft_shipment_not_null
                    status: 400
                    detail: Draft Shipment ID must be not empty
                config_group_changed:
                  value:
                    title: config_group_changed
                    status: 400
                    detail: 'Config group changed, new config is ...'
                warehouse_location_not_mapped:
                  value:
                    title: warehouse_location_not_mapped
                    status: 400
                    detail: Can not map warehouse with location ...
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                  status:
                    type: string
                  detail:
                    type: string
              examples:
                draft_shipment_not_found:
                  value:
                    title: draft_shipment_not_found
                    status: 400
                    detail: Draft shipment not found
                address_not_found:
                  value:
                    title: address_not_found
                    status: 400
                    detail: Address id must not be null
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                draftShipmentId:
                  type: string
                  description: id của đơn nháp
                refShipmentCode:
                  type: string
                  description: Mã đơn hàng khách hàng
              required:
                - draftShipmentId
            examples:
              example-1:
                value:
                  draftShipmentId: c87e6fbb-88e5-4e98-9145-048fd535afa8
                  refShipmentCode: abcxyz
      tags:
        - Shipment
      description: Tạo mới đơn ký gửi
      x-internal: false
      security:
        - bearerAuth: []
  '/api/customer/shipments/{code}':
    parameters:
      - schema:
          type: string
        name: code
        in: path
        required: true
    get:
      summary: Thông tin chi tiết đơn ký gửi
      operationId: get-api-customer-shipments-code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer-Shipment'
              examples:
                example-1:
                  value:
                    createdAt: '2021-09-01T02:37:35.543Z'
                    createdBy: ngantk
                    modifiedAt: '2021-09-01T02:38:16.514Z'
                    modifiedBy: ngantk
                    customer:
                      avatar: //www.gravatar.com/avatar/9263AE1F3B547DA9AF170EEE0B12D20F?d=retro&s=256&r=g
                      balance: 2229391385.94
                      code: N776
                      contactAddress: '76'
                      customerAuthorities:
                        importParcel: true
                        printParcelStamp: true
                        draftServicesEnable: false
                      customerGroup: null
                      customerLevel: null
                      customerStatus: ACTIVE
                      dob: '1997-11-18T00:00:00Z'
                      email: nguyenthikimnga@gobiz.vn
                      fullname: Nga Kim
                      gender: female
                      id: 5
                      nickname: Nga Kim
                      peerPaymentConfigGroupId: null
                      phone: '0123456788'
                      rewardPoint: null
                      username: ngantk
                      zaloId: '7722188066535117386'
                    services:
                      - createdAt: '2021-06-16T08:17:23.808Z'
                        createdBy: admin
                        modifiedAt: '2021-06-16T08:17:23.808Z'
                        modifiedBy: admin
                        id: 955
                        code: shipment_normal_shipping
                        name: Vận chuyển thường
                        description: ''
                        position: 1
                        requires: []
                        dependencies: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: '2020-12-22T07:43:52.193Z'
                          modifiedBy: admin
                          id: 2
                          code: shipping_group
                          name: Dịch vụ chuyển phát
                          description: ''
                          position: null
                          single: true
                          required: true
                          language:
                            name:
                              vi: Dịch vụ chuyển phát
                            description:
                              vi: ''
                        shippingClass:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: '2020-11-30T09:34:21.745Z'
                          modifiedBy: admin
                          id: 1
                          code: standard
                          name: Chuyển phát thường
                          description: null
                          position: null
                          calculatedByFormula: false
                          preferredWarehouse: null
                          language: null
                        defaultApplied: true
                        needApprove: false
                        shipping: true
                        approved: true
                        serviceInfo: ''
                        alias: null
                        dimensionWeightConversion: 1
                        requireGroups:
                          - packaging_group
                        excludeGroups: []
                        onlyStaff: false
                        language:
                          name:
                            vi: Vận chuyển thường
                          description:
                            vi: ''
                          serviceInfo:
                            vi: ''
                      - createdAt: '2021-06-16T08:17:23.789Z'
                        createdBy: admin
                        modifiedAt: '2021-06-16T08:17:23.789Z'
                        modifiedBy: admin
                        id: 952
                        code: shipment_standard_packaging
                        name: Đóng gỗ chung
                        description: ''
                        position: 5
                        requires: []
                        dependencies: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: '2020-12-22T07:43:52.193Z'
                          modifiedBy: admin
                          id: 1
                          code: packaging_group
                          name: Dịch vụ đóng hàng
                          description: ''
                          position: null
                          single: true
                          required: false
                          language:
                            name:
                              vi: Dịch vụ đóng hàng
                            description:
                              vi: ''
                        shippingClass: null
                        defaultApplied: false
                        needApprove: false
                        shipping: false
                        approved: true
                        serviceInfo: ''
                        alias: null
                        dimensionWeightConversion: 1
                        requireGroups: null
                        excludeGroups: null
                        onlyStaff: false
                        language:
                          name:
                            vi: Đóng gỗ chung
                          description:
                            vi: ''
                          serviceInfo:
                            vi: ''
                    image: null
                    status: PUTAWAY
                    code: N776_3781572
                    remark: null
                    note: null
                    provisionalAmount: 5500
                    totalFee: 18123
                    totalCollect: null
                    totalCoupon: null
                    totalUnpaid: 18123
                    timestamp: '2021-09-01T02:37:34.818Z'
                    totalValue: null
                    address:
                      createdAt: '2021-09-01T02:37:35.669Z'
                      createdBy: ngantk
                      modifiedAt: '2021-09-01T02:37:35.669Z'
                      modifiedBy: ngantk
                      id: 4050
                      fullname: Nguyễn Thu Huệ
                      phone: '0968182636'
                      address: Tòa viglacera
                      location:
                        createdAt: '2020-11-18T07:39:41.402115Z'
                        createdBy: example
                        modifiedAt: null
                        modifiedBy: null
                        id: '6910'
                        code: '20293'
                        name: Xã Hòa Bắc
                        description: null
                        display: 'Xã Hòa Bắc, Huyện Hòa Vang, Thành phố Đà Nẵng'
                        position: 0
                        type: WARD
                        parent:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: null
                          modifiedBy: null
                          id: '426'
                          code: '497'
                          name: Huyện Hòa Vang
                          description: null
                          display: 'Huyện Hòa Vang, Thành phố Đà Nẵng'
                          position: 0
                          type: DISTRICT
                          parent:
                            createdAt: '2020-11-18T07:39:41.402115Z'
                            createdBy: example
                            modifiedAt: null
                            modifiedBy: null
                            id: '3'
                            code: '48'
                            name: Thành phố Đà Nẵng
                            description: null
                            display: Thành phố Đà Nẵng
                            position: 0
                            type: PROVINCE
                            parent: null
                            language: null
                          language: null
                        language: null
                      note: ''
                      hash: 7BEF865417AD2465C43033F5C18D38D7
                    exchangeRate: 3500
                    actualWeight: 0.2
                    volumetric: 0
                    merchantName: null
                    merchantUrl: null
                    declareValue: null
                    totalPaid: null
                    totalRefund: null
                    totalClaim: null
                    deliveryNotice: false
                    configGroupId: 2cc72d0a-be58-492b-8228-e44c81cf26a9
                    waybills: []
                    products: []
                    receivingWarehouse:
                      createdAt: '2020-12-14T08:13:40.003Z'
                      createdBy: admin
                      modifiedAt: '2020-12-14T08:13:40.003Z'
                      modifiedBy: admin
                      id: 29
                      code: O-HN
                      name: O-HN
                      description: Kho này được tạo ra bởi ngantk
                      position: 22
                      location:
                        createdAt: '2020-11-18T07:39:41.402115Z'
                        createdBy: example
                        modifiedAt: null
                        modifiedBy: null
                        id: '3296'
                        code: '09538'
                        name: Phường Nguyễn Trãi
                        description: null
                        display: 'Phường Nguyễn Trãi, Quận Hà Đông, Thành phố Hà Nội'
                        position: 0
                        type: WARD
                        parent:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: null
                          modifiedBy: null
                          id: '201'
                          code: '268'
                          name: Quận Hà Đông
                          description: null
                          display: 'Quận Hà Đông, Thành phố Hà Nội'
                          position: 0
                          type: DISTRICT
                          parent:
                            createdAt: '2020-11-18T07:39:41.402115Z'
                            createdBy: example
                            modifiedAt: null
                            modifiedBy: null
                            id: '35'
                            code: '01'
                            name: Thành phố Hà Nội
                            description: null
                            display: Thành phố Hà Nội
                            position: 0
                            type: PROVINCE
                            parent: null
                            language: null
                          language: null
                        language: null
                      enabled: true
                      delivered: true
                      received: true
                      address: null
                      recipientName: null
                      recipientAddress: null
                      recipientPhone: null
                    currency: CNY
                    hsCode: null
                    originalReceipts: []
                    existsProduct: false
                    refShipmentCode: null
                    refCustomerCode: null
                    totalProducts: null
                    expectedPackages: null
                    actualPackages: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                example-1:
                  value:
                    title: shipment_not_found
                    status: 404
                    detail: Can not found shipment with code $code
      parameters: []
      tags:
        - Shipment
      description: ''
      security:
        - bearerAuth: []
    patch:
      summary: Cập nhật thông tin mã đơn hàng khách hàng
      operationId: patch-api-customer-shipments-code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer-Shipment'
              examples:
                example-1:
                  value:
                    createdAt: '2021-09-01T02:37:35.543Z'
                    createdBy: ngantk
                    modifiedAt: '2021-09-01T02:38:16.514Z'
                    modifiedBy: ngantk
                    customer:
                      avatar: //www.gravatar.com/avatar/9263AE1F3B547DA9AF170EEE0B12D20F?d=retro&s=256&r=g
                      balance: 2229391385.94
                      code: N776
                      contactAddress: '76'
                      customerAuthorities:
                        importParcel: true
                        printParcelStamp: true
                        draftServicesEnable: false
                      customerGroup: null
                      customerLevel: null
                      customerStatus: ACTIVE
                      dob: '1997-11-18T00:00:00Z'
                      email: nguyenthikimnga@gobiz.vn
                      fullname: Nga Kim
                      gender: female
                      id: 5
                      nickname: Nga Kim
                      peerPaymentConfigGroupId: null
                      phone: '0123456788'
                      rewardPoint: null
                      username: ngantk
                      zaloId: '7722188066535117386'
                    services:
                      - createdAt: '2021-06-16T08:17:23.808Z'
                        createdBy: admin
                        modifiedAt: '2021-06-16T08:17:23.808Z'
                        modifiedBy: admin
                        id: 955
                        code: shipment_normal_shipping
                        name: Vận chuyển thường
                        description: ''
                        position: 1
                        requires: []
                        dependencies: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: '2020-12-22T07:43:52.193Z'
                          modifiedBy: admin
                          id: 2
                          code: shipping_group
                          name: Dịch vụ chuyển phát
                          description: ''
                          position: null
                          single: true
                          required: true
                          language:
                            name:
                              vi: Dịch vụ chuyển phát
                            description:
                              vi: ''
                        shippingClass:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: '2020-11-30T09:34:21.745Z'
                          modifiedBy: admin
                          id: 1
                          code: standard
                          name: Chuyển phát thường
                          description: null
                          position: null
                          calculatedByFormula: false
                          preferredWarehouse: null
                          language: null
                        defaultApplied: true
                        needApprove: false
                        shipping: true
                        approved: true
                        serviceInfo: ''
                        alias: null
                        dimensionWeightConversion: 1
                        requireGroups:
                          - packaging_group
                        excludeGroups: []
                        onlyStaff: false
                        language:
                          name:
                            vi: Vận chuyển thường
                          description:
                            vi: ''
                          serviceInfo:
                            vi: ''
                      - createdAt: '2021-06-16T08:17:23.789Z'
                        createdBy: admin
                        modifiedAt: '2021-06-16T08:17:23.789Z'
                        modifiedBy: admin
                        id: 952
                        code: shipment_standard_packaging
                        name: Đóng gỗ chung
                        description: ''
                        position: 5
                        requires: []
                        dependencies: []
                        excludes: []
                        serviceGroup:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: '2020-12-22T07:43:52.193Z'
                          modifiedBy: admin
                          id: 1
                          code: packaging_group
                          name: Dịch vụ đóng hàng
                          description: ''
                          position: null
                          single: true
                          required: false
                          language:
                            name:
                              vi: Dịch vụ đóng hàng
                            description:
                              vi: ''
                        shippingClass: null
                        defaultApplied: false
                        needApprove: false
                        shipping: false
                        approved: true
                        serviceInfo: ''
                        alias: null
                        dimensionWeightConversion: 1
                        requireGroups: null
                        excludeGroups: null
                        onlyStaff: false
                        language:
                          name:
                            vi: Đóng gỗ chung
                          description:
                            vi: ''
                          serviceInfo:
                            vi: ''
                    image: null
                    status: PUTAWAY
                    code: N776_3781572
                    remark: null
                    note: null
                    provisionalAmount: 5500
                    totalFee: 18123
                    totalCollect: null
                    totalCoupon: null
                    totalUnpaid: 18123
                    timestamp: '2021-09-01T02:37:34.818Z'
                    totalValue: null
                    address:
                      createdAt: '2021-09-01T02:37:35.669Z'
                      createdBy: ngantk
                      modifiedAt: '2021-09-01T02:37:35.669Z'
                      modifiedBy: ngantk
                      id: 4050
                      fullname: Nguyễn Thu Huệ
                      phone: '0968182636'
                      address: Tòa viglacera
                      location:
                        createdAt: '2020-11-18T07:39:41.402115Z'
                        createdBy: example
                        modifiedAt: null
                        modifiedBy: null
                        id: '6910'
                        code: '20293'
                        name: Xã Hòa Bắc
                        description: null
                        display: 'Xã Hòa Bắc, Huyện Hòa Vang, Thành phố Đà Nẵng'
                        position: 0
                        type: WARD
                        parent:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: null
                          modifiedBy: null
                          id: '426'
                          code: '497'
                          name: Huyện Hòa Vang
                          description: null
                          display: 'Huyện Hòa Vang, Thành phố Đà Nẵng'
                          position: 0
                          type: DISTRICT
                          parent:
                            createdAt: '2020-11-18T07:39:41.402115Z'
                            createdBy: example
                            modifiedAt: null
                            modifiedBy: null
                            id: '3'
                            code: '48'
                            name: Thành phố Đà Nẵng
                            description: null
                            display: Thành phố Đà Nẵng
                            position: 0
                            type: PROVINCE
                            parent: null
                            language: null
                          language: null
                        language: null
                      note: ''
                      hash: 7BEF865417AD2465C43033F5C18D38D7
                    exchangeRate: 3500
                    actualWeight: 0.2
                    volumetric: 0
                    merchantName: null
                    merchantUrl: null
                    declareValue: null
                    totalPaid: null
                    totalRefund: null
                    totalClaim: null
                    deliveryNotice: false
                    configGroupId: 2cc72d0a-be58-492b-8228-e44c81cf26a9
                    waybills: []
                    products: []
                    receivingWarehouse:
                      createdAt: '2020-12-14T08:13:40.003Z'
                      createdBy: admin
                      modifiedAt: '2020-12-14T08:13:40.003Z'
                      modifiedBy: admin
                      id: 29
                      code: O-HN
                      name: O-HN
                      description: Kho này được tạo ra bởi ngantk
                      position: 22
                      location:
                        createdAt: '2020-11-18T07:39:41.402115Z'
                        createdBy: example
                        modifiedAt: null
                        modifiedBy: null
                        id: '3296'
                        code: '09538'
                        name: Phường Nguyễn Trãi
                        description: null
                        display: 'Phường Nguyễn Trãi, Quận Hà Đông, Thành phố Hà Nội'
                        position: 0
                        type: WARD
                        parent:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: null
                          modifiedBy: null
                          id: '201'
                          code: '268'
                          name: Quận Hà Đông
                          description: null
                          display: 'Quận Hà Đông, Thành phố Hà Nội'
                          position: 0
                          type: DISTRICT
                          parent:
                            createdAt: '2020-11-18T07:39:41.402115Z'
                            createdBy: example
                            modifiedAt: null
                            modifiedBy: null
                            id: '35'
                            code: '01'
                            name: Thành phố Hà Nội
                            description: null
                            display: Thành phố Hà Nội
                            position: 0
                            type: PROVINCE
                            parent: null
                            language: null
                          language: null
                        language: null
                      enabled: true
                      delivered: true
                      received: true
                      address: null
                      recipientName: null
                      recipientAddress: null
                      recipientPhone: null
                    currency: CNY
                    hsCode: null
                    originalReceipts: []
                    existsProduct: false
                    refShipmentCode: null
                    refCustomerCode: null
                    totalProducts: null
                    expectedPackages: null
                    actualPackages: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                example-1:
                  value:
                    title: shipment_not_found
                    status: 404
                    detail: Can not found shipment with code $code
      description: ''
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refShipmentCode:
                  type: string
                  description: Mã đơn hàng khách hàng
      tags:
        - Shipment
      security:
        - bearerAuth: []
  /api/categories/shipment_services:
    get:
      summary: Danh sách các loại dịch vụ của đơn ký gửi
      tags:
        - Category
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category-Shipment-Service'
              examples:
                example-1:
                  value:
                    - createdAt: '2021-06-16T08:17:23.781Z'
                      createdBy: admin
                      modifiedAt: '2021-06-16T08:17:23.781Z'
                      modifiedBy: admin
                      id: 950
                      code: shipment_inspection
                      name: Kiểm hàng
                      description: ''
                      position: 0
                      requires: []
                      dependencies: []
                      excludes: []
                      serviceGroup: null
                      shippingClass: null
                      defaultApplied: true
                      needApprove: false
                      shipping: false
                      approved: null
                      serviceInfo: ''
                      alias: null
                      dimensionWeightConversion: 1
                      requireGroups: null
                      excludeGroups: null
                      onlyStaff: false
                      language:
                        name:
                          vi: Kiểm hàng
                        description:
                          vi: ''
                        serviceInfo:
                          vi: ''
                    - createdAt: '2021-06-16T08:17:23.785Z'
                      createdBy: admin
                      modifiedAt: '2021-06-16T08:17:23.785Z'
                      modifiedBy: admin
                      id: 951
                      code: shipment_split_packaging
                      name: Tách kiện
                      description: ''
                      position: 0
                      requires: []
                      dependencies: []
                      excludes: []
                      serviceGroup: null
                      shippingClass: null
                      defaultApplied: false
                      needApprove: false
                      shipping: false
                      approved: null
                      serviceInfo: Đây là info Việt Nam nè
                      alias: null
                      dimensionWeightConversion: 1
                      requireGroups: null
                      excludeGroups: null
                      onlyStaff: false
                      language:
                        name:
                          en: Split the bale
                          km: ពុះ bale នេះ
                          vi: Tách kiện
                        description:
                          en: ''
                          km: ''
                          vi: ''
                        serviceInfo:
                          en: info info Tiếng anh nè
                          km: ព័ត៌មានជាភាសាវៀតណាម
                          vi: Đây là info Việt Nam nè
      operationId: get-api-categories-shipment_services
      parameters: []
      description: Thông tin các các dịch vụ của đơn ký gửi
      security: []
  '/api/customer/shipments/{code}/waybill':
    parameters:
      - schema:
          type: string
        name: code
        in: path
        required: true
    get:
      summary: Danh sách các mã vận đơn của đơn ký gửi
      tags:
        - Shipment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer-Shipment-Waybill'
              examples:
                example-1:
                  value:
                    - id: 123
                      code: '4567890'
                      shipmentId: 123
                      createdAt: '2019-05-16T11:20:30.688199Z'
                      createdBy: chaos
                      modifiedAt: null
                      modifiedBy: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                shipment_not_found:
                  value:
                    title: shipment_not_found
                    status: 400
                    detail: Can not found shipment with code '$code'
      operationId: get-api-customer-shipments-code-waybill
      parameters: []
      description: ''
      security:
        - bearerAuth: []
    post:
      summary: Thêm mới mã vận đơn trên đơn ký gửi
      operationId: post-api-customer-shipments-code-waybill
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer-Shipment-Waybill'
              examples:
                example-1:
                  value:
                    id: 123
                    code: '4567890'
                    shipmentId: 123
                    createdAt: '2019-05-16T11:20:30.688199Z'
                    createdBy: chaos
                    modifiedAt: null
                    modifiedBy: null
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                invalid_waybill_code:
                  value:
                    title: invalid_waybill_code
                    status: 400
                    detail: Waybill code can not be null or empty or whitespace only
                action_do_not_allow:
                  value:
                    title: action_do_not_allow
                    status: 400
                    detail: You can not add waybill to this shipment
                duplicate_code:
                  value:
                    title: duplicate_code
                    status: 400
                    detail: Duplicate code ...
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                shipment_not_found:
                  value:
                    title: shipment_not_found
                    status: 404
                    detail: Can not found shipment with code '$code'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
            examples:
              example-1:
                value:
                  code: '123456'
      parameters: []
      description: ''
      tags:
        - Shipment
      security:
        - bearerAuth: []
  '/api/customer/shipments/{code}/waybill/{waybillCode}':
    parameters:
      - schema:
          type: string
        name: code
        in: path
        required: true
      - schema:
          type: string
        name: waybillCode
        in: path
        required: true
    delete:
      summary: Xóa mã vận đơn trên đơn ký gửi
      operationId: delete-api-customer-shipments-code-waybill-waybillCode
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                action_do_not_allow:
                  value:
                    title: action_do_not_allow
                    status: 400
                    detail: You can not delete this waybill if shipment has this status
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                shipment_not_found:
                  value:
                    title: shipment_not_found
                    status: 404
                    detail: Can not found shipment with code '$code'
                waybill_code_not_found:
                  value:
                    title: shipment_not_found
                    status: 404
                    detail: Could not found waybill with code '$waybillCode'
      parameters: []
      tags:
        - Shipment
      description: Xóa mã vận đơn trong đơn ký gửi
      security:
        - bearerAuth: []
  '/api/customer/shipments/{code}/products':
    parameters:
      - schema:
          type: string
        name: code
        in: path
        required: true
    get:
      summary: Danh sách các sản phẩm trên đơn ký gửi
      tags:
        - Shipment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer-Shipment-Product'
              examples:
                example-1:
                  value:
                    - createdAt: '2021-07-20T03:21:36.940Z'
                      createdBy: ngantk
                      modifiedAt: '2021-07-20T03:21:36.940Z'
                      modifiedBy: ngantk
                      id: 86af47f9-12b9-439d-a40a-453751f72321
                      code: P0009Q
                      originalId: null
                      originalName: 2021款透气飞织椰子鞋350V2男女同款情侣鞋品质男鞋套帮女运动鞋
                      name: 2021款透气飞织椰子鞋350V2男女同款情侣鞋品质男鞋套帮女运动鞋
                      shortName: null
                      shortTranslatedName: null
                      translatedName: null
                      productUrl: 'https://detail.1688.com/offer/642382221053.html'
                      productImage: 'https://cbu01.alicdn.com/img/ibank/O1CN01QxcPUS1qBoOuZzv9L_!!2415305458-0-cib.summ.jpg '
                      merchantName: 瑞安市宣品鞋行
                      merchantContact: null
                      quantity: 2
                      receivedQuantity: null
                      unitPrice: 26.5
                      remark: null
                      note: null
                      staffRemark: null
                      skuHash: null
                      skuId: null
                      hsCode: null
                      timestamp: '2021-07-20T03:21:26.598Z'
                      unit: null
                      translatedUnit: null
                      exchangedActualPrice: 92750
                      variantProperties:
                        - id: 510a871f-2ab0-416a-900c-dd96c79c7508
                          originalName: 尺码
                          name: 尺码
                          originalValue: '39'
                          value: '39'
                        - id: 2151faaf-c67c-4593-b3df-6a1aeb76534a
                          originalName: 颜色
                          name: 颜色
                          originalValue: 绿色
                          value: 绿色
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                example-1:
                  value:
                    title: shipment_not_found
                    status: 404
                    detail: Can not find shipment with code '$shipmentCode'
      operationId: get-api-customer-shipments-code-products
      description: ''
      parameters:
        - schema:
            type: integer
          in: query
          name: page
        - schema:
            type: integer
          in: query
          name: size
      security:
        - bearerAuth: []
    post:
      summary: Thêm mới sản phẩm trên đơn ký gửi
      operationId: post-api-customer-shipments-code-products
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer-Shipment-Product'
              examples:
                example-1:
                  value:
                    createdAt: '2021-07-20T03:21:36.940Z'
                    createdBy: ngantk
                    modifiedAt: '2021-07-20T03:21:36.940Z'
                    modifiedBy: ngantk
                    id: 86af47f9-12b9-439d-a40a-453751f72321
                    code: P0009Q
                    originalId: null
                    originalName: 2021款透气飞织椰子鞋350V2男女同款情侣鞋品质男鞋套帮女运动鞋
                    name: 2021款透气飞织椰子鞋350V2男女同款情侣鞋品质男鞋套帮女运动鞋
                    shortName: null
                    shortTranslatedName: null
                    translatedName: null
                    productUrl: 'https://detail.1688.com/offer/642382221053.html'
                    productImage: 'https://cbu01.alicdn.com/img/ibank/O1CN01QxcPUS1qBoOuZzv9L_!!2415305458-0-cib.summ.jpg '
                    merchantName: 瑞安市宣品鞋行
                    merchantContact: null
                    quantity: 2
                    receivedQuantity: null
                    unitPrice: 26.5
                    remark: null
                    note: null
                    staffRemark: null
                    skuHash: null
                    skuId: null
                    hsCode: null
                    timestamp: '2021-07-20T03:21:26.598Z'
                    unit: null
                    translatedUnit: null
                    exchangedActualPrice: 92750
                    variantProperties:
                      - id: 510a871f-2ab0-416a-900c-dd96c79c7508
                        originalName: 尺码
                        name: 尺码
                        originalValue: '39'
                        value: '39'
                      - id: 2151faaf-c67c-4593-b3df-6a1aeb76534a
                        originalName: 颜色
                        name: 颜色
                        originalValue: 绿色
                        value: 绿色
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                example-1:
                  value:
                    title: action_do_not_allow
                    status: 400
                    detail: Can not add product with shipment status '$shipment.status'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                example-1:
                  value:
                    title: shipment_not_found
                    status: 404
                    detail: Can not find shipment with code '$shipmentCode'
      parameters: []
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                productUrl:
                  type: string
                name:
                  type: string
                translatedName:
                  type: string
                merchantName:
                  type: string
                merchantContact:
                  type: string
                quantity:
                  type: integer
                unitPrice:
                  type: number
                shortName:
                  type: string
                shortTranslatedName:
                  type: string
                unit:
                  type: string
                translatedUnit:
                  type: string
                brand:
                  type: string
                originalBrand:
                  type: string
                material:
                  type: string
                originalMaterial:
                  type: string
                variantProperties:
                  type: array
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                      originalValue:
                        type: string
                      name:
                        type: string
                      originalName:
                        type: string
                receivedQuantity:
                  type: integer
              required:
                - productUrl
                - name
                - translatedName
                - quantity
                - unitPrice
      tags:
        - Shipment
      security:
        - bearerAuth: []
  '/api/customer/shipments/{code}/products/{productCode}':
    parameters:
      - schema:
          type: string
        name: code
        in: path
        required: true
      - schema:
          type: string
        name: productCode
        in: path
        required: true
    patch:
      summary: Cập nhật sản phẩm trên đơn ký gửi
      operationId: patch-api-customer-shipments-code-products-productCode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer-Shipment-Product'
              examples:
                example-1:
                  value:
                    createdAt: '2021-07-20T03:21:36.940Z'
                    createdBy: ngantk
                    modifiedAt: '2021-07-20T03:21:36.940Z'
                    modifiedBy: ngantk
                    id: 86af47f9-12b9-439d-a40a-453751f72321
                    code: P0009Q
                    originalId: null
                    originalName: 2021款透气飞织椰子鞋350V2男女同款情侣鞋品质男鞋套帮女运动鞋
                    name: 2021款透气飞织椰子鞋350V2男女同款情侣鞋品质男鞋套帮女运动鞋
                    shortName: null
                    shortTranslatedName: null
                    translatedName: null
                    productUrl: 'https://detail.1688.com/offer/642382221053.html'
                    productImage: 'https://cbu01.alicdn.com/img/ibank/O1CN01QxcPUS1qBoOuZzv9L_!!2415305458-0-cib.summ.jpg '
                    merchantName: 瑞安市宣品鞋行
                    merchantContact: null
                    quantity: 2
                    receivedQuantity: null
                    unitPrice: 26.5
                    remark: null
                    note: null
                    staffRemark: null
                    skuHash: null
                    skuId: null
                    hsCode: null
                    timestamp: '2021-07-20T03:21:26.598Z'
                    unit: null
                    translatedUnit: null
                    exchangedActualPrice: 92750
                    variantProperties:
                      - id: 510a871f-2ab0-416a-900c-dd96c79c7508
                        originalName: 尺码
                        name: 尺码
                        originalValue: '39'
                        value: '39'
                      - id: 2151faaf-c67c-4593-b3df-6a1aeb76534a
                        originalName: 颜色
                        name: 颜色
                        originalValue: 绿色
                        value: 绿色
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                example-1:
                  value:
                    title: action_do_not_allow
                    status: 400
                    detail: Can not add product with shipment status '$shipment.status'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                example-1:
                  value:
                    title: shipment_not_found
                    status: 404
                    detail: Can not found shipment with code '$code'
                example-2:
                  value:
                    title: shipment_product_not_found
                    status: 404
                    detail: Product with code '$productCode' does not exists
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                productUrl:
                  type: string
                name:
                  type: string
                translatedName:
                  type: string
                merchantName:
                  type: string
                merchantContact:
                  type: string
                quantity:
                  type: integer
                unitPrice:
                  type: number
      parameters: []
      tags:
        - Shipment
      security:
        - bearerAuth: []
  /api/customer/addresses:
    get:
      summary: Danh sách các địa chỉ của khách hàng
      tags:
        - Customer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer-Address'
              examples:
                example-1:
                  value:
                    - createdAt: '2021-06-22T07:53:51.661Z'
                      createdBy: ngantk
                      modifiedAt: '2021-06-22T07:53:51.661Z'
                      modifiedBy: ngantk
                      id: 306
                      phone: '0968182636'
                      detail: Tòa viglacera
                      location:
                        createdAt: '2020-11-18T07:39:41.402115Z'
                        createdBy: example
                        modifiedAt: null
                        modifiedBy: null
                        id: '6910'
                        code: '20293'
                        name: Xã Hòa Bắc
                        description: null
                        display: 'Xã Hòa Bắc, Huyện Hòa Vang, Thành phố Đà Nẵng'
                        position: 0
                        type: WARD
                        parent:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: null
                          modifiedBy: null
                          id: '426'
                          code: '497'
                          name: Huyện Hòa Vang
                          description: null
                          display: 'Huyện Hòa Vang, Thành phố Đà Nẵng'
                          position: 0
                          type: DISTRICT
                          parent:
                            createdAt: '2020-11-18T07:39:41.402115Z'
                            createdBy: example
                            modifiedAt: null
                            modifiedBy: null
                            id: '3'
                            code: '48'
                            name: Thành phố Đà Nẵng
                            description: null
                            display: Thành phố Đà Nẵng
                            position: 0
                            type: PROVINCE
                            parent: null
                            language: null
                          language: null
                        language: null
                      note: ''
                      defaultAddress: true
                      fullname: Nguyễn Thu Huệ
                      addressName: Hueng tesstttt
                    - createdAt: '2021-06-02T03:11:23.184Z'
                      createdBy: ngantk
                      modifiedAt: '2021-06-22T07:53:51.701Z'
                      modifiedBy: ngantk
                      id: 263
                      phone: '0344230738'
                      detail: jdjdbd
                      location:
                        createdAt: '2020-11-18T07:39:41.402115Z'
                        createdBy: example
                        modifiedAt: null
                        modifiedBy: null
                        id: '10540'
                        code: '30601'
                        name: Xã Bình Thạnh
                        description: null
                        display: 'Xã Bình Thạnh, Huyện Châu Thành, Tỉnh An Giang'
                        position: 0
                        type: WARD
                        parent:
                          createdAt: '2020-11-18T07:39:41.402115Z'
                          createdBy: example
                          modifiedAt: null
                          modifiedBy: null
                          id: '657'
                          code: '892'
                          name: Huyện Châu Thành
                          description: null
                          display: 'Huyện Châu Thành, Tỉnh An Giang'
                          position: 0
                          type: DISTRICT
                          parent:
                            createdAt: '2020-11-18T07:39:41.402115Z'
                            createdBy: example
                            modifiedAt: null
                            modifiedBy: null
                            id: '32'
                            code: '89'
                            name: Tỉnh An Giang
                            description: null
                            display: Tỉnh An Giang
                            position: 0
                            type: PROVINCE
                            parent: null
                            language: null
                          language: null
                        language: null
                      note: ''
                      defaultAddress: false
                      fullname: test1
                      addressName: ''
      operationId: get-api-customer-addresses
      description: Các địa chỉ của khách hàng phục vụ cho việc tạo đơn nháp
      parameters: []
      security:
        - bearerAuth: []
    post:
      summary: Tạo mới địa chỉ của khách hàng
      operationId: post-api-customer-addresses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer-Address'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error-Response'
              examples:
                example-1:
                  value:
                    title: invalid_location
                    status: 400
                    detail: Can not found location with code '$command.location'
      tags:
        - Customer
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fullname:
                  type: string
                phone:
                  type: string
                detail:
                  type: string
                location:
                  type: string
                  description: location code
                note:
                  type: string
                defaultAddress:
                  type: string
                addressName:
                  type: string
              required:
                - fullname
                - phone
                - detail
                - location
  /api/locations:
    get:
      summary: Lấy thông tin các location
      tags:
        - Category
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
      operationId: get-api-locations
      parameters:
        - schema:
            type: string
          in: query
          name: parent
          description: parent location code
        - schema:
            type: string
          in: query
          name: type
        - schema:
            type: string
          in: query
          name: displayName
        - schema:
            type: integer
          in: query
          name: page
        - schema:
            type: integer
          in: query
          name: size
      security: []
      description: Thông tin của location phục vụ cho việc tạo địa chỉ của khách hàng
components:
  schemas:
    Draft-Shipment:
      title: Draft-Shipment
      type: object
      description: ''
      properties:
        id:
          type: string
        exchangeRate:
          type: number
        totalFee:
          type: number
        configGroupId:
          type: string
        addressId:
          type: integer
        services:
          type: array
          items:
            title: Shipment-Service
            type: object
            properties:
              id:
                type: integer
              code:
                type: string
              name:
                type: string
              description:
                type: string
              position:
                type: integer
              requires:
                type: array
                items:
                  type: string
              excludes:
                type: array
                items:
                  type: string
              serviceGroup:
                title: Service-Group
                type: object
                properties:
                  id:
                    type: integer
                  code:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  position:
                    type: integer
                  single:
                    type: boolean
                  required:
                    type: boolean
                  createdBy:
                    type: string
                  createdAt:
                    type: string
                  modifiedBy:
                    type: string
                  modifiedAt:
                    type: string
                description: Service Group
                x-tags:
                  - model
              defaultApplied:
                type: boolean
              needApprove:
                type: boolean
              shipping:
                type: boolean
              approved:
                type: boolean
            x-tags:
              - model
        fees:
          type: array
          items:
            title: Draft-Shipment-Fee
            type: object
            properties:
              id:
                type: string
              feeType:
                type: string
              service:
                type: string
              provisionalAmount:
                type: number
            x-tags:
              - model
            description: Draft shipment fee
        createdBy:
          type: string
        createdAt:
          type: string
        modifiedBy:
          type: string
        modifiedAt:
          type: string
      x-tags:
        - Models
    Shipment-Service:
      title: Shipment-Service
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        name:
          type: string
        description:
          type: string
        position:
          type: integer
        requires:
          type: array
          items:
            type: string
        excludes:
          type: array
          items:
            type: string
        serviceGroup:
          title: Service-Group
          type: object
          properties:
            id:
              type: integer
            code:
              type: string
            name:
              type: string
            description:
              type: string
            position:
              type: integer
            single:
              type: boolean
            required:
              type: boolean
            createdBy:
              type: string
            createdAt:
              type: string
            modifiedBy:
              type: string
            modifiedAt:
              type: string
          description: Service Group
          x-tags:
            - model
        defaultApplied:
          type: boolean
        needApprove:
          type: boolean
        shipping:
          type: boolean
        approved:
          type: boolean
      x-tags:
        - Models
    Service-Group:
      title: Service-Group
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        name:
          type: string
        description:
          type: string
        position:
          type: integer
        single:
          type: boolean
        required:
          type: boolean
        createdBy:
          type: string
        createdAt:
          type: string
        modifiedBy:
          type: string
        modifiedAt:
          type: string
      description: Service Group
      x-tags:
        - Models
    Draft-Shipment-Fee:
      title: Draft-Shipment-Fee
      type: object
      properties:
        id:
          type: string
        feeType:
          type: string
        service:
          type: string
        provisionalAmount:
          type: number
      description: Draft shipment fee
      x-tags:
        - Models
    Location:
      title: Location
      type: object
      x-examples:
        example-1:
          createdAt: '2019-09-27T09:21:10.503146Z'
          createdBy: chaos
          modifiedAt: null
          modifiedBy: null
          id: '11304'
          code: '00343'
          name: Phường Nhân Chính
          description: null
          display: 'Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội'
          position: 5
          type: WARD
          parent:
            createdAt: '2019-09-27T09:21:10.503146Z'
            createdBy: chaos
            modifiedAt: null
            modifiedBy: null
            id: '132'
            code: 9
            name: Quận Thanh Xuân
            description: null
            display: 'Quận Thanh Xuân, Thành phố Hà Nội'
            position: 2
            type: DISTRICT
            parent:
              createdAt: '2019-09-27T09:21:10.503146Z'
              createdBy: chaos
              modifiedAt: null
              modifiedBy: null
              id: '35'
              code: '01'
              name: Thành phố Hà Nội
              description: null
              display: Thành phố Hà Nội
              position: 0
              type: PROVINCE
              parent: null
              language: null
            language: null
          language: null
      x-tags:
        - Models
      properties:
        id:
          type: string
        code:
          type: string
        name:
          type: string
        description:
          type: string
        display:
          type: string
        position:
          type: integer
        type:
          type: string
        parent:
          $ref: '#/components/schemas/Sub-Location'
    Sub-Location:
      title: Sub-Location
      type: object
      x-examples:
        example-1:
          createdAt: '2019-09-27T09:21:10.503146Z'
          createdBy: chaos
          modifiedAt: null
          modifiedBy: null
          id: '11304'
          code: '00343'
          name: Phường Nhân Chính
          description: null
          display: 'Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội'
          position: 5
          type: WARD
          parent:
            createdAt: '2019-09-27T09:21:10.503146Z'
            createdBy: chaos
            modifiedAt: null
            modifiedBy: null
            id: '132'
            code: 9
            name: Quận Thanh Xuân
            description: null
            display: 'Quận Thanh Xuân, Thành phố Hà Nội'
            position: 2
            type: DISTRICT
            parent:
              createdAt: '2019-09-27T09:21:10.503146Z'
              createdBy: chaos
              modifiedAt: null
              modifiedBy: null
              id: '35'
              code: '01'
              name: Thành phố Hà Nội
              description: null
              display: Thành phố Hà Nội
              position: 0
              type: PROVINCE
              parent: null
              language: null
            language: null
          language: null
      x-tags:
        - Models
      properties:
        id:
          type: string
        code:
          type: string
        name:
          type: string
        description:
          type: string
        display:
          type: string
        position:
          type: integer
        type:
          type: string
        parent:
          type: object
          properties:
            id:
              type: string
            code:
              type: string
            name:
              type: string
            description:
              type: string
            display:
              type: string
            position:
              type: string
            type:
              type: string
            parent:
              type: object
    Category-Shipment-Service:
      title: Category-Shipment-Service
      type: object
      x-tags:
        - Models
      properties:
        code:
          type: string
        name:
          type: string
        description:
          type: string
        position:
          type: integer
        requires:
          type: array
          items:
            type: string
        excludes:
          type: array
          items:
            type: string
        serviceGroup:
          $ref: '#/components/schemas/Service-Group'
        shippingClass:
          $ref: '#/components/schemas/Shipping-Class'
        defaultApplied:
          type: boolean
        needApprove:
          type: boolean
        approved:
          type: boolean
        createdBy:
          type: string
        createdAt:
          type: string
        modifiedBy:
          type: string
        modifiedAt:
          type: string
    Customer-Shipment:
      title: Customer-Shipment
      type: object
      properties:
        customer:
          title: Simple-Customer
          type: object
          x-tags:
            - model
          properties:
            id:
              type: integer
            username:
              type: string
            email:
              type: string
            fullname:
              type: string
            nickname:
              type: string
            avatar:
              type: string
            phone:
              type: string
            code:
              type: string
            dob:
              type: string
            contactAddress:
              type: string
            gender:
              type: string
            customerStatus:
              type: string
            customerGroup:
              title: Customer-Group
              type: object
              properties:
                id:
                  type: string
                tenantId:
                  type: string
                code:
                  type: string
                name:
                  type: string
                description:
                  type: string
                configGroupId:
                  type: string
                createdAt:
                  type: string
                createdBy:
                  type: string
                modifiedAt:
                  type: string
                modifiedBy:
                  type: string
              x-examples:
                example-1:
                  createdAt: '2019-10-18T04:39:06.958080Z'
                  createdBy: chaos
                  modifiedAt: null
                  modifiedBy: null
                  id: '2'
                  tenantId: da7ad3a6-f2b9-4a48-9422-2b71c63572a3
                  code: default
                  name: Nhóm khách hàng mặc định
                  description: 'nhóm mặc định, sử dụng bảng phí mặc định'
                  configGroupId: 672b7fbe-6edf-4da8-af06-6bdba181870c
              x-tags:
                - model
            customerLevel:
              title: Customer-Level
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                minPoint:
                  type: number
                maxPoint:
                  type: number
                imageUrl:
                  type: string
                createdAt:
                  type: string
                createdBy:
                  type: string
                modifiedAt:
                  type: string
                modifiedBy:
                  type: string
              x-examples:
                example-1:
                  createdAt: '2019-11-21T09:14:23.141Z'
                  createdBy: ngantk
                  modifiedAt: '2019-12-03T03:27:39.816Z'
                  modifiedBy: ngantk
                  id: d38dc26c-3b66-4c23-93b7-8da7587fb5e1
                  name: 'VIP '
                  minPoint: 11
                  maxPoint: 100
                  imageUrl: 'https://i.imgur.com/1WDrGZM.png'
            rewardPoint:
              type: number
          x-examples:
            example-1:
              avatar: //www.gravatar.com/avatar/13282dcf0f343a6b5cdfd6e605716073?d=retro&s=256&r=g
              code: NU1000005
              contactAddress: ''
              customerGroup:
                createdAt: '2019-10-18T04:39:06.958080Z'
                createdBy: chaos
                modifiedAt: null
                modifiedBy: null
                id: '2'
                tenantId: da7ad3a6-f2b9-4a48-9422-2b71c63572a3
                code: default
                name: Nhóm khách hàng mặc định
                description: 'nhóm mặc định, sử dụng bảng phí mặc định'
                configGroupId: 672b7fbe-6edf-4da8-af06-6bdba181870c
              customerLevel:
                createdAt: '2019-11-21T09:14:23.141Z'
                createdBy: ngantk
                modifiedAt: '2019-12-03T03:27:39.816Z'
                modifiedBy: ngantk
                id: d38dc26c-3b66-4c23-93b7-8da7587fb5e1
                name: 'VIP '
                minPoint: 11
                maxPoint: 100
                imageUrl: 'https://i.imgur.com/1WDrGZM.png'
              customerStatus: ACTIVE
              dob: '2019-12-12T00:00:00Z'
              email: nguyenthilanhuong@gobiz.vn
              fullname: Lan Hương
              gender: female
              id: 23
              nickname: Lan Hương
              phone: 12345678
              rewardPoint: 95
              username: lanhuong
        services:
          type: array
          items:
            title: Shipment-Service
            type: object
            properties:
              id:
                type: integer
              code:
                type: string
              name:
                type: string
              description:
                type: string
              position:
                type: integer
              requires:
                type: array
                items:
                  type: string
              excludes:
                type: array
                items:
                  type: string
              serviceGroup:
                title: Service-Group
                type: object
                properties:
                  id:
                    type: integer
                  code:
                    type: string
                  name:
                    type: string
                  description:
                    type: string
                  position:
                    type: integer
                  single:
                    type: boolean
                  required:
                    type: boolean
                  createdBy:
                    type: string
                  createdAt:
                    type: string
                  modifiedBy:
                    type: string
                  modifiedAt:
                    type: string
                description: Service Group
                x-tags:
                  - model
              defaultApplied:
                type: boolean
              needApprove:
                type: boolean
              shipping:
                type: boolean
              approved:
                type: boolean
            x-tags:
              - model
        image:
          type: string
        status:
          type: string
        code:
          type: string
        remark:
          type: string
        note:
          type: string
        provisionalAmount:
          type: number
        totalFee:
          type: number
        totalUnpaid:
          type: number
        timestamp:
          type: string
        totalValue:
          type: number
        address:
          title: Shipment-Address
          type: object
          x-tags:
            - model
          properties:
            id:
              type: integer
            fullname:
              type: string
            phone:
              type: string
            address:
              type: string
            location:
              title: Location
              type: object
              x-tags:
                - model
              properties:
                id:
                  type: string
                code:
                  type: string
                name:
                  type: string
                description:
                  type: string
                display:
                  type: string
                position:
                  type: integer
                type:
                  type: string
                parent:
                  $ref: '#/components/schemas/Location'
              x-examples:
                example-1:
                  createdAt: '2019-09-27T09:21:10.503146Z'
                  createdBy: chaos
                  modifiedAt: null
                  modifiedBy: null
                  id: '11304'
                  code: '00343'
                  name: Phường Nhân Chính
                  description: null
                  display: 'Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội'
                  position: 5
                  type: WARD
                  parent:
                    createdAt: '2019-09-27T09:21:10.503146Z'
                    createdBy: chaos
                    modifiedAt: null
                    modifiedBy: null
                    id: '132'
                    code: 9
                    name: Quận Thanh Xuân
                    description: null
                    display: 'Quận Thanh Xuân, Thành phố Hà Nội'
                    position: 2
                    type: DISTRICT
                    parent:
                      createdAt: '2019-09-27T09:21:10.503146Z'
                      createdBy: chaos
                      modifiedAt: null
                      modifiedBy: null
                      id: '35'
                      code: '01'
                      name: Thành phố Hà Nội
                      description: null
                      display: Thành phố Hà Nội
                      position: 0
                      type: PROVINCE
                      parent: null
                      language: null
                    language: null
                  language: null
            note:
              type: string
            hash:
              type: string
            createdBy:
              type: string
            createdAt:
              type: string
            modifiedBy:
              type: string
            modifiedAt:
              type: string
          x-examples:
            example-1:
              createdAt: '2020-01-03T03:53:24.450Z'
              createdBy: lanhuong
              modifiedAt: '2020-01-03T03:53:24.450Z'
              modifiedBy: lanhuong
              id: 26
              fullname: Lan Hương
              phone: 988888888
              address: 164 Khuất Duy Tiến
              location:
                createdAt: '2019-09-27T09:21:10.503146Z'
                createdBy: chaos
                modifiedAt: null
                modifiedBy: null
                id: '11304'
                code: '00343'
                name: Phường Nhân Chính
                description: null
                display: 'Phường Nhân Chính, Quận Thanh Xuân, Thành phố Hà Nội'
                position: 5
                type: WARD
                parent:
                  createdAt: '2019-09-27T09:21:10.503146Z'
                  createdBy: chaos
                  modifiedAt: null
                  modifiedBy: null
                  id: '132'
                  code: 9
                  name: Quận Thanh Xuân
                  description: null
                  display: 'Quận Thanh Xuân, Thành phố Hà Nội'
                  position: 2
                  type: DISTRICT
                  parent:
                    createdAt: '2019-09-27T09:21:10.503146Z'
                    createdBy: chaos
                    modifiedAt: null
                    modifiedBy: null
                    id: '35'
                    code: '01'
                    name: Thành phố Hà Nội
                    description: null
                    display: Thành phố Hà Nội
                    position: 0
                    type: PROVINCE
                    parent: null
                    language: null
                  language: null
                language: null
              note: ''
              hash: 394a9ed64afc273946ba341962433873
        exchangeRate:
          type: number
        actualWeight:
          type: number
        volumetric:
          type: number
        declareValue:
          type: number
      x-examples:
        example-1:
          createdAt: '2020-01-03T03:53:24.444Z'
          createdBy: lanhuong
          modifiedAt: '2020-01-03T03:53:24.471Z'
          modifiedBy: lanhuong
          customer:
            avatar: //www.gravatar.com/avatar/13282dcf0f343a6b5cdfd6e605716073?d=retro&s=256&r=g
            code: NU1000005
            contactAddress: ''
            customerGroup: null
            customerLevel: null
            customerStatus: ACTIVE
            dob: '2019-12-12T00:00:00Z'
            email: nguyenthilanhuong@gobiz.vn
            fullname: Lan Hương
            gender: female
            id: 23
            nickname: Lan Hương
            phone: 12345678
            rewardPoint: null
            username: lanhuong
          services:
[...]
